:root{ //Style global
    --primary-color:#F7EBDF;
    --text-color:#4E4039;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--primary-color);
    color:var(--text-color);
    min-height:100vh;
    font-family:"Poppins", sans-serif;
}